.header {
  display: flex;
  overflow-x: scroll;
}

.option{
  display: flex;
  /* margin-left: 5%; */
  margin-top: 1%;
  width: auto;
}

.header {
  margin-top: 5%;
}

.headerBtn {
  margin-left:2%;
  border-radius: 100%;
}


.submit, .ShowSolution, .IwillTryAgain, .ShowingCorrectOption {
  margin-top: 2%;
  margin-bottom: 2%;
}


.AfterSubmit {
  margin-right: 0%;
}

.ShowSolution {
  align-content: center;
}
