.header {
  display: flex;
  overflow-x: scroll;
}

.option{
  display: flex;
  /* margin-left: 5%; */
  margin-top: 1%;
  width: auto;
}

.option :hover {
  background-color: rgb(0, 0, 0);
}
.header {
  margin-top: 5%;
}

.headerBtn {
  margin-left:2%;
  border-radius: 100%;
}


.submit, .ShowSolution, .IwillTryAgain, .ShowingCorrectOption {
  margin-top: 2%;
  margin-bottom: 2%;
}


.AfterSubmit {
  margin-right: 0%;
}

.ShowSolution {
  align-content: center;
}


footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: right;
}

.Quiz {
  overflow-y: scroll;
  position: relative;
}

.text-success, .text-danger {
  font-size: 1.5rem;
}